# direnv
.envrc

# Dependency directories
node_modules/

# Build output
dist

# Vitest
coverage

# Yarn stuff: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
